
<div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  
      <div class="full">
            <h3 style="position: relative; left: 250px;">
                Add new Student Information
            </h3>
            <div class="left">
          <div class="form-group">
                
                <label for="name">Student Name: </label>
                <div class="controls">
                  <input type="text" id="name" placeholder="Name" class="form-control" formControlName="student_name">
                </div>
          </div>
          <div class="form-group">
              
                <label for="gender">Gender: </label>
                <div class="controls">
                  <input type="radio" value='Male'formControlName="gender">Male
                  <input type="radio" value='Female' formControlName="gender">Female <br>
                </div>
          </div>
  
          <div class="form-row">
            <div class="col">
              <div class="form-group">
             
                <label for="grade">Grade :</label>
                <div class="controls">
                  <select id="Birth" name="birth" formControlName="grade"><br>
                    <option value="1st">1st</option>
                    <option value="2nd">2nd</option>
                    <option value="3rd">3rd</option>
                    <option value='4th'>4th</option>
                    <option value='5th'>5th</option>
                    <option value='6th'>6th</option>
                    <option value='7th'>7th</option>
                    <option value='8th'>8th</option>
                    <option value='9th'>9th</option>
                    <option value="10th">10th</option>
                    <option value="11th">11th</option>
                    <option value="12th">12th</option>
                     </select>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
         
                <label for="dob">Date of Birth :</label>
                <div class="controls">
                  <input type="date" id="dob" placeholder="dob" class="form-control" formControlName="dob">
                </div>
              </div>
            </div>
          </div>
  
  
  
        </div>
        <div class="right">
          <div class="form-group">
  
                <label for="name"> Science Mark: </label>
                <div class="controls">
                  <input type="number" id="science" placeholder="Mark" class="form-control" formControlName="science">
                </div>
          </div>
          <div class="form-group">
  
                <label for="name"> English Mark: </label>
                <div class="controls">
                  <input type="number" id="english" placeholder="Mark" class="form-control" formControlName="english">
                </div>
          </div>
          <div class="form-group">
  
                <label for="name"> Maths Mark: </label>
                <div class="controls">
                  <input type="number" id="maths" placeholder="Mark" class="form-control" formControlName="maths">
                </div>
          </div>
          </div>
          <div class="form-group">
  
                <label for="name"> Description: </label>
                <div class="controls">
                  <textarea name="Descritpion" formControlName="description" ></textarea><br>
                </div>
          </div>
          </div>
  
        
          <div class="form-group">
            <button class="btn btn-primary" type="submit" style="width: 15%">
              Submit
            </button>
          </div>
  
  
    </form>
  </div>
  